
@{
    ViewBag.TitlePage = "Курсы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="block-element">
    <div class="acaption">Курсы</div>
    <div class="courses-box">
        <table>
            <thead>
                <tr>
                    <td>ID курса</td>
                    <td>Название</td>
                    <td>Предмет</td>
                    <td>Преподаватели</td>
                </tr>
            </thead>
        </table>
    </div>
</div>