@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TitlePage</title>
    <link href="~/Content/Styles/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Styles/PageStyles/GeneralStyles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Styles/PageStyles/AdminStyles.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="menu menu-home">
            <img src="~/Content/Icons/house_32.png" />
            <a href="#">Домой</a>
        </div>
        <div class="menu menu-showgrades">
            <img src="~/Content/Icons/list_32.png" />
            <a href="#">Заявки</a>
        </div>
        <div class="menu menu-showgrades">
            <img src="~/Content/Icons/people_32.png" />
            <a href="#">Классы</a>
        </div>
        <div class="menu menu-showgrades">
            <img src="~/Content/Icons/courses_32.png" />
            <a href="#">Курсы</a>
        </div>
        <div class="menu menu-showgrades">
            <img src="~/Content/Icons/open-book_32.png" />
            <a href="#">Предметы</a>
        </div>
        <div class="menu menu-showgrades">
            <img src="~/Content/Icons/gear_32.png" />
            <a href="#">Общее</a>
        </div>
        <div class="menu menu-exit">
            <img src="~/Content/Icons/exit_32.png" />
            <a href="#">Выйти</a>
        </div>
    </nav>
    <div class="content">
        @RenderBody()
    </div>
    <footer class="footer-bottom">
        <p>&copy; Education Manager</p>
        <a href="#">О приложении</a>
    </footer>
</body>
</html>
