@model EducationManager.ViewModels.Account.ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Восстановление пароля</title>
    <link href="~/Content/Styles/bootstrap.css" type="text/css" rel="stylesheet" />
    <style>
        body {
            background-color: rgb(59,191,80);
        }

        .content {
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            width: 460px;
            background-color: white;
            padding: 20px 50px;
        }

        .content table {
                margin-left: auto;
                margin-right: auto;
        }

        td {
            padding: 0px 5px;
        }

        .form-control {
            margin-top: 8px;
            height: 30px;
        }

        .acaption {
            margin-left: auto;
            margin-right: auto;
            font-size: 16pt;
            width: 200px;
            margin-bottom: 20px;
        }

        .send_button {
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        button {
            width: 300px;
        }
        #loading{
            margin-left: auto;
            margin-right: auto;
            width: 120px; 
        }
        #loading img{
            display: block;
            text-align: center;
            width: 120px; 
        }
    </style>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <div class="content">
        <div class="acaption">
            <label style="text-align:center">Восстановление пароля</label>
        </div>
        <div class="controllers">
           
            @using (Ajax.BeginForm("SendSecretKey", new AjaxOptions { UpdateTargetId = "code_result", LoadingElementId= "loading" }))
            {
                <table>
                    <tr>
                        <td>
                            <label>Логин</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Введите логин" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>e-mail</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Введите email" })
                        </td>
                    </tr>
                </table>
                
                <div class="send_button">
                    <button value="SendCode" class="btn btn-primary">Отправить код</button>
                </div>    
            } 
               
            <div class="code" id="code_result">
            </div>       

            <div id="loading" style="display:none">
                <img src="~/Content/Icons/loading_infinity.gif"/>
            </div>
        </div>
    </div>
    
</body>
</html>
