@model EducationManager.ViewModels.Account.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account"))
{
    @Html.TextBoxFor(m => m.Username, new { @style = "display: none"})
    @Html.TextBoxFor(m => m.Email, new { @style = "display: none" })

    <div class="change_password">
        <table>
            <tr>
                <td>
                    <label>Секретный код</label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.AccessKey, new { @class = "form-control", placeholder = "Секретный код" })
                </td>
            </tr>
            <tr>
                <td>
                    <label>Новый пароль</label>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Новый пароль" })
                </td>
            </tr>
        </table>
    </div>
    <div class="send_button">
        <button value="ChangePassword" class="btn btn-primary">Сменить пароль</button>
    </div>
}
