@{
    ViewBag.Title = "Домашняя страница";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="block-element">
    <h3>Здравствуйте, Иван Иванович.</h3>
    <p>Приступайте к работе</p>
</div>
<div class="block-element action-announcements">
    <div class="acaption">Оставить объявление</div>
    <div class="chose-element">
        <select class="form-control">
            <option>9B</option>
            <option>11C</option>
            <option>6B</option>
            <option>8A</option>
        </select>
    </div>
    <div class="text-input">
        <div class="text-input">
            <textarea name="message" placeholder="Введите ваше сообщение" class="form-control"></textarea>
        </div>
    </div>
    <div class="action-announcements-button">
        <button value="Отправить" class="btn btn-primary">Отправить</button>
    </div>  
</div>
<div class="block-element action-write">
    <div class="acaption">Написать сообщение</div>
    <div class="chose-element">
        <select class="form-control">
            <option>9B</option>
            <option>11C</option>
            <option>6B</option>
            <option>8A</option>
        </select>
    </div>
    <div class="chose-element">
        <select class="form-control">
            <option>Иванов И.С</option>
            <option>Иванов И.С</option>
            <option>Иванов И.С</option>
            <option>Иванов И.С</option>
        </select>
    </div>
    <div class="text-input">
        <textarea name="message" placeholder="Введите ваше сообщение" class="form-control"></textarea>
    </div>
    <div class="action-write-b">

    </div>
    <div class="action-announcements-button">
        <button value="Отправить" class="btn btn-primary">Отправить</button>
    </div>  
</div>